/***** CSS RESET *****/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**********************/

/***** CLEARFIX *****/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/*********************/

body{
    font-size: 20px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 90vw;
    margin: 0 auto;
}
/* Regole menu left a right */
.menu-left,.menu-right{
    width: 50%;
    height: 150px;
    display: flex;
    align-items: center;
}
.menu-left{
    justify-content: flex-start;
}
.menu-right{
    justify-content: flex-end;
}
.menu-left > ul, .menu-right > ul{
    list-style: none;
    display: flex;
    align-items: center;
}
ul{
    list-style: none;
}
.menu-left > ul > li,.menu-right > ul > li{
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    height: 100%;
}
a{
    text-decoration: none;
    color: rgb(139, 149, 158);
    font-weight: bold;
    padding: 10px;
}

/* Logo */
.menu-left li {
    text-align: right;
}
img{
    width: 50%;
}

/* /Regole menu left a right */
a:focus{
    color: #191c1f;
}
a:hover{
    color: #191c1f;
}
.drop-down{
    position: absolute;
    box-shadow: 2px 2px rgba(39, 39, 39, 0.2);
    border-radius: 5px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: none;
}
.drop-down li {
    padding: 12px 0;
}
.active{
    display: block;
}

/* Bottoni */
.button{
    padding: 10px 25px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

#sign{
    background-color: rgba(230, 230, 230, 0.6);
    color: #000;
}
#sign:hover{
    background-color: rgba(230, 230, 230, 0.8);
}
#getApp{
    background-color: rgba(0,0,0,1);
    color: #fff;
}
#getApp:hover{
    background-color: rgba(0,0,0,0.7);
    color: #fff;
}